<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omniscient Reader's Viewpoint Community</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="title">Dokkaebis, Demonios y Dioses externos</h1>

        <!-- Primer bloque de contenido -->
        <div class="content">
            <div class="text-left">
                <h2>Quienes son las "Constelaciones"?</h2>
                <p>
                    Las constelaciones son habitantes de la Corriente Estelar y uno de los dos tipos principales de participantes en los escenarios. Son seres extremadamente poderosos que han sido inmortalizados en la historia de la humanidad. Las constelaciones varían entre héroes míticos, grandes sabios, criaturas mitológicas, espíritus y dioses antiguos. Algunos humanos se convierten en constelaciones cuando mueren debido a la fama de sus historias.
                </p>
            </div>
            <div class="image-right">
                <img 
                    src="https://i.pinimg.com/736x/d8/b5/c7/d8b5c770f39df1a0e93f7835f3cfd750.jpg" 
                    alt="Imagen derecha" 
                    width="1000" 
                    height="500">
            </div>
        </div>

        <!-- Segundo bloque de contenido -->
        <div class="content reverse">
            <div class="text-right">
                <h2>Quienes son los "Dokkaebis"?</h2>
                <p>
                    Los dokkaebis son criaturas que actúan como moderadores y propietarios del canal Star Stream, llamados así por criaturas tramposas del folclore coreano.
                    
                </p>
            </div>
            <div class="image-left">
                <img 
                    src="https://i.pinimg.com/736x/3d/2f/4b/3d2f4b8cd67933415ad3d145e911d181.jpg" 
                    alt="Imagen derecha" 
                    width="1000" 
                    height="500">
            </div>
        </div>

        <!-- Tercero bloque de contenido -->
        <div class="content reverse">
            <div class="text-left">
                <h2>Quienes son los dioses exteriores?</h2>
                <p>
                    Los dioses exteriores, también conocidos como los dioses de otros mundos, son seres extraños cuyas formas pueden parecerse a cualquier cosa, pero a la vez a nada.
                    Los dioses exteriores siempre tienen tentáculos. Los más fuertes son muy enormes. Su apariencia puede describirse como la de un mosaico, ya que no hay palabras que puedan describirlos, ya que no se suponía que existieran en primer lugar.
                </p>
            </div>
            <div class="image-right">
                <img 
                    src="https://i.pinimg.com/736x/12/d8/09/12d809e463381befdd611242641db971.jpg" 
                    alt="Imagen izquierda">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>Sobre nosotros</h2>
                <p>Exploramos mundos extraordinarios a través de historias y personajes inolvidables. Únete a nuestra comunidad y comparte tu pasión por Omniscient Reader's Viewpoint.</p>
            </div>
            <div class="footer-section links">
                <h2>Enlaces útiles</h2>
                <ul class="centered-menu">
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('webtoon') }}">Webtoon y Novela</a></li>
                    <li><a href="{{ url_for('galeria') }}">Galería</a></li>
                    <li><a href="{{ url_for('personajes') }}">Personajes</a></li>
                    <li><a href="{{ url_for('conceptos') }}">Conceptos</a></li>
                    <li><a href="{{ url_for('opinion') }}">Opinión</a></li>
                    <li><a href="{{ url_for('dokkaebis') }}">Dokkaebis, Demonios y Dioses externos</a></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h2>Contáctanos</h2>
                <p>Email: contacto@omniscientview.com</p>
                <p>Teléfono: +57 123 456 7890</p>
                <p>Redes sociales:</p>
                <div class="socials">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 Omniscient Reader's Viewpoint | Todos los derechos reservados.
        </div>
    </footer>
</body>
</html>